.rs-container-outer{
    width: 80vw;
    margin: 30px 10vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-items: center;
    justify-content: center;
    overflow: hidden
}
.rs-header
{   margin-top: 10px;
    display:block;
    text-align: center;
}
.rs-header h1{
    color: rgb(0, 0, 0);
    font-size: 60px;
}
.rs-header p{
    color: rgb(58, 61, 61);
    font-size: 35px;
    font-weight: 100;
}
.gs-card{
    width: 230px;
    height: 370px;
    background-color: #f5f7fb;
    margin: 30px 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 4px 3px #ccc;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    transition: 0.9s;
}
.gs-card-pic{
    width: 120px;
    height: 120px;
    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 60px;
}
.gs-card-name{
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 600;
}
.gs-card-profile-link{
    display:inline-flex;
    flex-direction: row; 
    justify-content: space-around;
    width: 120px;
}
.gs-card-icon{
    font-size: 24px;
    color: black;
}
.gs-card-icon:hover{
    cursor: pointer;
    color: #1ba94c;
}
.gs-card-header{
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-weight: 200;
    margin-bottom:10px ;
}
.gs-qoute{
    width: 180px;
    color:rgba(0, 0, 0,);
    font-size: 14px;
    font-weight: 200;
}
.gs-card:hover{
    transition: 400ms;
    transform: translateY(-8px);
    box-shadow: 0px 4px 8px 1px rgba(102, 102, 102, 0.5)
}
@media (max-width:768px) {
    .rs-container-outer{
    justify-content: space-around;
    }
    .gs-card{
     margin: 20px 0 ;   
    }
    .rs-header h1{
        font-size: 40px;
    }
    .rs-header p{
        font-size: 20px;
    }
}
@media(max-width:1024px){
    .gs-card{
        margin: 20px 20px ;
    }
    .rs-header h1{
        font-size: 50px;
    }
    .rs-header p{
        font-size: 35px;
    }
}