.gs-nav-bar,.gs-button-container,.gs-button h4,.sems-content,.gs-sem-icon,.gs-sem-icon img,.semester-box p{
    position: relative;
}
.gs-nav-bar,.gs-button-container,.gs-button,.semester,.semester h1,.semester-container,.semester-box,.gs-sem-icon{
    display: flex;
}
.gs-nav-bar{
    top: 0;
    width: 100vw;
    max-width: 100%;
    height: 15vh;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    background: var(--background);   /*changed*/
    ;
}

.gs-button-container{
    width:90vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.gs-button{
    position: relative;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 160px;
    height: 45px;
    text-align: center;
    border-radius: 35px;
    border: 1.5px solid #1ba94c;
    background: none;
    align-content: center;
    overflow: hidden;
}
.gs-button h4{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .1em;
}
.gs-button::before{
    content:"";
    position: absolute;
    width: 100%;
    height:0%;
    left: 0;
    bottom: 0;
    background: #1ba94c;
    border-radius:50% 50% 0 0;
    z-index: -1;
    
}
.gs-button:hover::before{
    height: 180%;
    transition: 800ms;
    
}
.gs-button:hover{
    transition: .8s;
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0px 3px 6px -2px  #1ba94c ;
}
.gs-button:hover h4{
    color: #eee;
    transition: .5s;
} 
.gs-button-container a,a:link,a:visited,a:hover,a:active{
    color: var(--clr-gs-button-container);                         /*changed*/
    text-decoration: none;
}

.sems-content{
    height: 80vh;
    top: 0;
    box-sizing: border-box;
    text-align: center;
    /* border: 1px solid red; */
}
.sem-areas{
    display: block;
    opacity: 0;
    width: 100vw;
    max-width: 100%;
    height: 80vh;
    max-height: 100%;
    position: absolute;
    background-image:linear-gradient(to bottom, #fff 0%, #f8f9fa 100%);
    top:0;  
    z-index: 0;  
    transition: opacity 400ms ease-in-out;
    background:var(--background);                                     /*changed*/
    /* border: 1px solid red; */
}

.sem-first-area{
    width: 100%;
    height: 80vh;
    max-height: 100%;
    position: absolute;
    top:0;  
    transition: opacity 400ms ease-in-out;
    background: var(--background);                                     /*changed*/
    opacity: 1;
    z-index: 3;
}

.semester{
    flex-direction: column;
    align-items: center;
    height: 80vh;
}
.semester h1{
    width: 60vw;
    color: var(--clr-semester-h1);                                          /*changed*/
    font-size: 40px;
    height: 3.5em;
    margin: 50px 0 15px ;
    justify-content: center;
}
.semester-container{
    width: 70vw;
    margin-top: 30px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}
.semester-box{
    justify-content: flex-start;
    text-align: center;
    width: 250px;
    height: 55px;
    margin: 25px 50px;
    background: var(--clr-background);
    border: 2px solid #476d7c;                                          /*changed*/
    border-radius: 6px;
    box-shadow: 2px 2px 8px 0px #476d7c;                                /*changed*/
}
.gs-sem-icon{
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 55px;
    background-color: #ffffff;
    border-radius: 6px 0 0 6px;
}
.gs-sem-icon::before{
    content:"";
    position: absolute;
    width: 0%;
    height:100%;
    left: 0;
    bottom: 0;
    background: #1ba94c;
    border-radius:0% 50% 50% 0%;
    z-index: 0;
}
.semester-box:hover{
    transition: 300ms;
    transform: translateY(-4px);
    box-shadow: 2px 6px 8px -2px #ccc;
    cursor: pointer;
}
.semester-box:hover .gs-sem-icon::before{
    width: 180%;
    transition: 500ms;
}
.sem-img{
    width: 40%;
}
.gs-sem-icon img{
    z-index: 2;
    width: 30px;
}
.semester-box p{
    margin: 15px 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .8px;
    color: var(--clr-semester-boxp) ;                                          /*changed*/
}
@media (max-width:1200px){
    .gs-button{
        height: 40px;
    }
}
@media (max-width:1000px){
    .gs-button{
        margin-top: 10px;
        width: 120px;
        height: 38px;
    }
    .semester h1{
        width: 80vw;
        font-size: 34px;
    }
    .semester-container{
        width: 80vw;
    }
    .semester-box{
        width: 180px;
        height: 45px;
        margin: 15px 25px;
    }
    .gs-sem-icon{
        overflow: hidden;
        justify-content: center;
        align-items: center;
        height: 42px;
        width: 50px;
        background-color: #ffffff;
        border-radius: 6px 0 0 6px;
    }
    .gs-sem-icon img{
        width: 25px;
    }
    .semester-box p{
        margin: 13px 10px;

    }
}
@media (max-width:800px){
    .gs-button{
        width: 100px;
        height: 35px;
    }
}
@media (max-width:600px){
    .gs-button{
        width: 80px;
        height: 30px;
    }
}
@media (max-width:600px) {
    .hidden{
        display: none;
    }
    .gs-nav-bar{
        height: 18vh;
       
    }
    .gs-button-container{
        width: 80vw;
        height: 11vh;
        justify-content: space-around;
    }
    .sem-img{
        margin: 3em;
        width: 80%;
    }
    .gs-sem-icon img{
        z-index: 2;
        width: 55%;
    }
    .gs-button h4{
        font-size: 14px;
    }
    .semester{
        height: 78vh;
    }
    .semester-container{
        margin-top: 16px;
        margin-bottom: 25px;
    }
    .sems-content{
        height: 78vh;
    }
    .sem-areas{
        height: 78vh;
    }
    .sem-first-area{
        height: 50vh;
    }
    .semester h1{
        width: 80vw;
        height: 10vh;
        margin: 1.2em 0 .5em 0;
        font-size: 22px;
    }
    .semester-box{
        width: 15em;
        height: 3em;
        margin: 1em 0 1em 0;
        }
    .gs-sem-icon{
        width: 3em;
        height: 2.8em;
    }
    .semester-box p{
        margin: .75em .8em;
        font-size: 13px;
    }
}
@media ( max-width:330px){
    .gs-button{
        width: 4.5em;
        height: 1.6em;
    }
    .semester h1{
        font-size: 18px;
    }
}
/* @media screen and (device-height: 568px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    // css here
} */

                             /* DARK MODE STARTS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-light: white;
  --clr-dark:#1d3e53;
  --clr-gs-button-container:#39424e;
  --clr-semester-boxp:#39424e;
  --clr-semester-h1:#39424e;

  

  --foreground: var(--clr-dark);
  --background: var(--clr-light);

}

.darkmode {
  --clr-light:white;
  --clr-dark: #1d3e53;
  --clr-gs-button-container:#77abb7;
  --clr-semester-h1:#77abb7;
  --clr-semester-boxp:#77abb7;
  
  

  --foreground: var(--clr-light);
  --background: var(--clr-dark);
}

                         /* DARK MODE ENDS */


                        