/* ---------------------------- NAV BAR --------------------------------------------- */
.layer{
    position: absolute;
    top: 35px;
    right: 5vw;
    display: flex;
    /* width: 50px; */
    /* border: 1px red solid; */
}
.icon1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 30px;
}
.icon1 .what{
    margin: 0 0 ;
    font-size: 24px;
    color: #1ba94c;
}
.icon1 h4{
    margin-left: 10px;
    color: #39424e;
}

.gs-nav-cicrle{
    width: 38px;
    height: 38px;
    background-color: #1ba94c;   
    border-radius:40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    top: 25px;
    left: 35px;
    z-index: 3;
    border: 1.1px #1ba94c solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gs-nav-cicrle:hover{
    transition:all .8s;   
    transform: translateY(-2px); 
    box-shadow: 1px 6px 10px -5px #1ba94c;
    cursor: pointer;
}
.gs-menu-slider{
    height: 100vh;
    width: 0vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1200;
    background:#1f3d37;
    transition: .3s ease-out;
    text-align: left;
    letter-spacing: 1px;
    display: block;
    overflow: hidden;
    border-radius: 0 50% 50% 0 ;
}
.gs-hamburger-icon{
    color: #eee;
    font-size: 20px;
    z-index: 2;
}
.gs-text-cont{
    position: absolute;
    top: 20%;
    left: 20px;
}
.gs-menu-options{
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
}
.fa-home , .fa-users{
    margin: 16px 7px 0 7px;
    font-size: 20px;
    color: #1ba94c;
}
.fa-whatsapp{
    margin: 16px 8px 0px 10px;
    font-size: 22px;
    font-weight: 400;
    color: #1ba94c; 
}

.gs-text-cont h1{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 15px 0px 7px 0;
}
.gs-line{
    border-radius: 1px 1px 1px 1px;
    height: 1px;
    width: 16rem;
    background: rgb(100, 100, 100);
}

.gs-menu-close{
    color: #eee;
    font-size: 22px;
    margin-top: 20px;
}
.gs-menu-close:hover{
    color: #1ba94c;
    cursor: pointer;
    transition: .2s;
}
.gs-fadde{
    display: none;
    position: fixed;
    z-index: 500;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color:#0e141e;
    opacity: 0.5;
}
@media (max-width:550px) {
    .gs-nav-cicrle{
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    }
    .gs-hamburger-icon{
    top: 2px;
    left: 8px;
    font-size: 15px;
    }
}

/* --------------------End OF nav Bar--------------- */